/*-------------TITULO-------------*/
.title{
    display: grid;
    place-items: center;
    margin-left:5%;
    margin-right:5%;
    background-color: rgba(41, 74, 165, 0.80);
    color:chocolate;
    width:90%;
    height: 30%;
    font-size:3vw;
    border:5px solid rgb(255, 228, 152);
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
}

.new{

    width:50vh;
}

a.teta{
    color:rgb(255, 212, 212);
}

/*-------------MENU-------------*/
nav{
    margin:15px 5% auto 5%;
    width:calc(90% + 10px);
    height:10em;
    border: 5px rgba(255, 255, 255, 0) 
}

nav a{
    float:left;
    display:block;
    width:calc(25% - 11px);
    height:4em;
    line-height: 4em;
    background-color: rgba(41, 74, 165, 0.80);
    color:rgb(255, 255, 255);
    
    background-color: rgba(41, 74, 165, 0.80);
    text-align: center;
    font-size: 2em;
    border:5px solid rgb(255, 228, 152);
}

#musica { 
    background-image: url('backgrounds/musicaBG.png');
    text-shadow:2px 2px green;
    background-position: 0% 0%;
    background-attachment: fixed;
}
#eventos{
    background-image:url('backgrounds/eventosBG.png') ;
    text-shadow:2px 2px orange;
    background-attachment: fixed;
    background-position: 0% 0%;
}
#juegos{
    background-image: url('backgrounds/videojuegosBG.png');
    text-shadow:2px 2px purple;
    background-attachment: fixed;
    background-position: 0% 0%;
}
#foto{
    background-image: url('backgrounds/fotografiaBG.png');
    text-shadow:2px 2px black;
    background-attachment: fixed;
    background-position: 0% 0%;
}
.noticias{
    display: flex;
    width: 100%;
    margin:15px 0px auto 0px;
    color:white;
    align-content: center;
    justify-content: center;
}
.sub{
    width:calc(90% - 15px);
    padding-left: 10px;
    margin:15px 0px auto 5px;
    background-color: rgba(12, 26, 65, 0.8);
    border:5px solid rgb(255, 228, 152);
    color:rgb(255, 228, 152);
}
@media screen and (max-width: 1080px) {
    nav a {
      float: none;
      margin-left:0;
      margin-right:0;
      width: 100%;
      font-size:4em;
      height:200px;
      line-height: 200px;
    }
    nav{
        width:90%;
        height:1000px;
    
    }
    .noticias{
        display: block;
        width:90%;
        margin:15px 5% auto 5%;
    }
    .sub{
        width:calc(100% - 10px);
        margin: 0px 0px 0px 0px;
    }
  }

/*-------------CONTENIDO-------------*/

.cuadrau{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.cuadradoA{
    border:5px solid rgb(255, 228, 152);
    background-color:rgb(26, 47, 104);


}
.cuadradoA img{
    opacity: 0;
    width: 100%;
    height: 100%;
} 
.cuadradoB{
    border:5px solid rgb(255, 228, 152);
    background-color:rgb(26, 47, 104);

}
.cuadradoB img{
    opacity: 0;
    width: 100%;
    height: 100%;
} 
.cuadradoC{
    border:5px solid rgb(255, 228, 152);
    background-color:rgb(26, 47, 104);

}
.cuadradoC img{
    opacity: 0;
    width: 100%;
    height: 100%;
} 
.cuadradoD{
    border:5px solid rgb(255, 228, 152);
    background-color:rgb(26, 47, 104);

}
.cuadradoD img{
    opacity: 0;
    width: 100%;
    height: 100%;
} 

  
.cuadradoA:hover{
    border:5px solid rgb(255, 228, 152);
    background-color:rgb(26, 47, 104, 0);
    background-image: url("backgrounds/aaa.jpg");

}
.cuadradoA:hover img{
    opacity: 1;
} 
.cuadradoB:hover{
    border:5px solid rgb(255, 228, 152);
    background-color:rgb(26, 47, 104, 0);
    background-image: url("backgrounds/bbb.jpg");

}
.cuadradoB:hover img{
    opacity: 1;
} 
.cuadradoC:hover{
    border:5px solid rgb(255, 228, 152);
    background-color:rgb(26, 47, 104, 0);
    background-image: url("backgrounds/ccc.jpg");

}
.cuadradoC:hover img{
    opacity: 1;
} 
.cuadradoD:hover{
    border:5px solid rgb(255, 228, 152);
    background-color:rgb(26, 47, 104, 0);
    background-image: url("backgrounds/ddd.jpg");

}
.cuadradoD:hover img{
    opacity: 1;
} 
.cuadrado:active{
    border:5px solid rgb(26, 47, 104, 0.8) ;
    background-color:rgb(255, 228, 152);
}
.container{
    display: grid;
    width: calc(90% + 10px);
    margin-top:10px;
    margin-left: 5%;
    margin-right:5%;
    grid-template-columns: 2fr 1fr;

}

.content{
    width:calc(100% - 10px - 2em);
    margin-top:0px;
    margin-left: 0px;
    margin-right:auto;
    padding-right: 1em;
    padding-left: 1em;

    font-size: 21px;
    color:rgb(255, 228, 152);

    border:5px solid rgb(255, 228, 152);
    background-color:rgba(26, 47, 104, 0.8);

}

.textocubo{
    width:calc(100% - 5px);
    height: fit-content;
    margin-top:0px;
    margin-left:0px;
    margin-right:0;
    padding-left: 0%;
    padding-right: 0%;

    text-align: center;
    font-size: 15px;
    color:rgb(255, 228, 152);

    border:5px solid rgb(255, 228, 152);
    border-left: none;
    background-color:rgba(26, 47, 104, 0.8);
 
}

@media screen and (max-width: 1080px) {
    .container{
        display:block;
        width:calc(90% + 10px);
        margin: 10px 5% 0 5%;
    }
    .cuadradoA{
        min-height: 100%;
        min-width: 48%;
    }
    .cuadradoB{
        min-height: 100%;
        min-width: 48%;
    }
    .cuadradoC{
        min-height: 100%;
        min-width: 48%;
    }
    .cuadradoD{
        min-height: 100%;
        min-width: 48%;
    }
    .content{
        align-self: center;
        width:calc(100%-10px);
    }

    .textocubo{
        display: block;
        width:calc(100% - 10px);
        margin: 10px auto 0 0%;
        border:5px solid rgb(255, 228, 152);
    }
  }


.clogo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:15vw;
}

/*-------------FOOTER-------------*/

footer{
    height:fit-content;
    margin: 20px 5% 0 5%;
    text-align: right;
    width:calc(90% + 10px);
    background-color:rgba(33, 58, 128, 0.35) ;
    color: #ffeeff;
    font-size: 0.9em;

}

@media screen and (max-width: 1080px) {
    footer {
      margin-top:15px;
    }
  }

/*-------------HTML-------------*/

html {
    background-color: black;
    background-image:url('backgrounds/aniback20.gif');
    background-repeat: repeat;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
}
